./natureremo/data
./jsonformat/data/shop_format.json
./jsonformat/data/shop_jsonl.json
./shell/data/output.txt
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/